.contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 50px;

    & form {
        display: flex;
        flex-direction: column;
        width: 400px;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
}