/* Footer de las paginas */

.piePagina {
    display: flex;
    width: 100vw;
    background-color: $primary-color;
    &__conteiner{
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 40px;
    &--lista {
        display: flex;
        flex-direction: column;
        color: $color-active;
        justify-content: space-around;
        gap:20px;
        font-size: 0, 9375rem;
        & a {
            color: $color-list-footer;
            align-self: center;
            &:hover {
                color: $color-active;
                cursor: pointer;
            }
        }
    }
    &--titulo-footer h6 {
        font-size: 30px;
        color: $secundary-color;
    }
    &--parrafo {
        width: 250px;
        overflow: hidden;
        padding: 30px 0;
        color: $color-active;
    }
    &--redes {
        display: flex;
        flex-direction: column;
        padding: 25px 0;
    }
    &--redes img {
        width: 32px;
        height: 32px;
    }
    & span {
        display: inline-flex;
        position: relative;
        color: $color-active;
        top: -10px;
        margin-left: 5px;
    }
}
}

