.modal {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: -100vh;
    margin: 0 0;
    height: 90vh;
    width: 80vw;
    transition: all .5s;
    z-index: 5;

    & iframe {
        width: 80%;
        height: 70%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }

    & span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 25px;
        font-size: 1.8rem;
        color: whitesmoke;
        border: solid 1px white;
        margin-right: 2px;
        margin-top: 2px;
        cursor: pointer;
    }

    &-active {
        top: 60px;
    }
}