$primary-color: rgb(37, 98, 150);
$secundary-color: rgb(83, 167, 240);
$terciary-color: rgb(255, 127, 80);
$color-list-footer: whitesmoke;
$color-active: rgb(218, 234, 253);
$baseline-text: 1.25rem;
$span-text: 0.75rem;
$gray-color: rgba(196, 191, 191, 0.694);
$border-card-button: 1px solid $gray-color;